@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');

:root {
    --orange: #FF900E;
    --gray: #FF900E;
    --white: #FFFFFF;
    --black: #131313;
    --primary-font: font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.container {
    width: 80%;
}

.header-title {
    font-size: 35px;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
}

nav > ul > li > a:hover {
    color: var(--orange)
}

.banner-container {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    margin-top: 50px;
    font-size: 40px;
    line-height: 1.3;
}

.banner-details {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.img-container > img {
    width: 100%;
}

.btn-explore {
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
.btn-explore:hover {
    cursor: pointer;
}